section.section.counter-sec
	.wrapper-container 
		.dichvu-block.d-flex
			.dichvu-item
				a(href="/dskv_tsdb.html") 
					img.img-dichvu(src="./images/icons/ic_qlds_tsdb.png", alt="")
					p.text DS tài khoản vay/TSĐB
			.dichvu-item
				a(href="/ds_qlyc.html") 
					img.img-dichvu(src="./images/icons/ic_qlyc.png", alt="")
					p.text Quản lý yêu cầu