
section.section-header 
	.wrapper-container 
		.header-box 
			a.btn-back(href="")
				img(src="./images/icons/arrow-left.png", alt="")
			.txt-title 
				img(src="./images/icons/Logo.png", alt="")
			a.btn-go-home(href="")
				img.icon-home(src="./images/icons/home-black.png", alt="")
section.section.counter-sec
	.wrapper-container 
		.page-yeucaudichvu.page3.page4
			.page-content 
				img(src="./images/icons/Illustrations-result.png")
				.text1 Gửi yêu cầu dịch vụ thành công!
				.text2 
					span Yêu cầu 
					b Khoản vay: Thu nợ trước hạn 
					span vào ngày 
					b 24/12/2022
				.text3 vào lúc 09:41 - 25/06/2022
				.btn-box 
					.btn-share 
						img(src="./images/icons/share.png")
						span Chia sẻ
					.btn-dif-tran
						img(src="./images/icons/send_to_mobile.png")
						span Giao dịch khác
				.tran-detail-box 
					.row-header
						.txt-label 
							b Chi tiết giao dịch
							img(src="./images/icons/chevron_right.png")
					.detail-body
						.row-info
							.txt-label Mã yêu cầu
							.txt-content 35236126
						.row-info
							.txt-label Số hợp đồng vay
							.txt-content L32452352452U
			.page-footer
				a(href="")
					img(src="./images/icons/pig.png")