section.section.counter-sec
	.wrapper-container 
		.list-tsdb-block.d-flex
			.dichvu-item
				.row-info
					.txt-label Số tài khoản:
					.txt-content 002100090033
				.row-info
					.txt-label Tên sản phẩm:
					.txt-content Vay mua nhà
				.row-info
					.txt-label Cán bộ quản lý:
					.txt-content NGO THUY VY
				.row-info
					.txt-label Ngày giải ngân:
					.txt-content 25/01/2022
				.row-info
					.txt-label Ngày đáo hạn:
					.txt-content 25/01/2027
				.row-info
					.txt-label Hạn mức hợp đồng:
					.txt-content 1,000,000,000 VNĐ
				.row-info
					.txt-label Hạn mức còn lại:
					.txt-content 0 VNĐ
				.row-info
					.txt-label Trạng thái hợp đồng:
					.txt-content Active
				.row-info
					.txt-label Loại:
					.txt-content Vay
				.btn-box
					a.btn.btn-create-request.btn-toggle(href="/create_request.html") Tạo yêu cầu
			.dichvu-item
				.row-info
					.txt-label Số tài khoản:
					.txt-content 002100090033
				.row-info
					.txt-label Tên sản phẩm:
					.txt-content Vay mua nhà
				.row-info
					.txt-label Cán bộ quản lý:
					.txt-content NGO THUY VY
				.row-info
					.txt-label Ngày giải ngân:
					.txt-content 25/01/2022
				.row-info
					.txt-label Ngày đáo hạn:
					.txt-content 25/01/2027
				.row-info
					.txt-label Hạn mức hợp đồng:
					.txt-content 1,000,000,000 VNĐ
				.row-info
					.txt-label Hạn mức còn lại:
					.txt-content 0 VNĐ
				.row-info
					.txt-label Trạng thái hợp đồng:
					.txt-content Active
				.row-info
					.txt-label Loại:
					.txt-content Vay
				.btn-box
					a.btn.btn-create-request.btn-toggle(href="/create_request_tsdb.html") Tạo yêu cầu
			.dichvu-item
				.row-info
					.txt-label Số tài khoản:
					.txt-content 002100090033
				.row-info
					.txt-label Tên sản phẩm:
					.txt-content Vay mua nhà
				.row-info
					.txt-label Cán bộ quản lý:
					.txt-content NGO THUY VY
				.row-info
					.txt-label Ngày giải ngân:
					.txt-content 25/01/2022
				.row-info
					.txt-label Ngày đáo hạn:
					.txt-content 25/01/2027
				.row-info
					.txt-label Hạn mức hợp đồng:
					.txt-content 1,000,000,000 VNĐ
				.row-info
					.txt-label Hạn mức còn lại:
					.txt-content 0 VNĐ
				.row-info
					.txt-label Trạng thái hợp đồng:
					.txt-content Active
				.row-info
					.txt-label Loại:
					.txt-content Vay
				.btn-box
					a.btn.btn-create-request.btn-toggle(href="/create_request.html") Tạo yêu cầu
