footer 
	.wrapper-container 
		.wrapper-content 
			.column-md-4 
				.box-content
					.logo 
						a(href="") MoGo
					.text-box 
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					.follower
						span 15k 
						span followers
					.follow-us 
						span Follow Us: 
						ul.d-flex
							li 
								a(href="") 
									img(src="./images/icons/footer-fb.png", alt="")
							li 
								a(href="") 
									img(src="./images/icons/footer-twitter.png", alt="")
							li 
								a(href="") 
									img(src="./images/icons/footer-instagram.png", alt="")
							li 
								a(href="") 
									img(src="./images/icons/footer-pinterest.png", alt="")
							li 
								a(href="") 
									img(src="./images/icons/footer-google.png", alt="")
							li 
								a(href="") 
									img(src="./images/icons/footer-youtube.png", alt="")
							li 
								a(href="") 
									img(src="./images/icons/footer-dribbble.png", alt="")
							li 
								a(href="") 
									img(src="./images/icons/footer-tumblr.png", alt="")
					.form-subscribe
						form(action="") 
							.form-group 
								input.form-control(type="text" placeholder="Your Email...")
								button.btn.btn-subscribe Subscribe
			.column-md-4 
				.box-content 
					.box-title Blogs 
					.blog-list 
						ul 
							-for(i=1; i<4; i++)
								li 
									.blog-thumb 
										a(href="") 
											img(src="./images/footer-"+i+".png", alt="")
									.blog-desc 
										.title
											a(href="") Lorem ipsum dolor sit amet, consectetur adipiscing
										span Jan 9, 2016
			.column-md-4 
				.box-content 
					.box-title instagram
					ul 
						-for(i=1; i<10; i++)
							li 
								a(href="") 
									img(src="./images/instagram-"+i+".png", alt="")
					a.view-more(href="") View more photos
		.coppy-right 
			p © 2016 MoGo free PSD template by 
				a(href="")  Laaqiq



