section.section.counter-sec
	.wrapper-container 
		.content-block
			.top-info.d-flex.flex-column.justify-evenly.align-center
				img(src="./images/HDBank.png", alt="")
				img(src="./images/icons/ic_tick.png", alt="")
				.txt-result QUÝ KHÁCH ĐÃ GỬI YÊU CẦU DỊCH VỤ THÀNH CÔNG
			.content-info 
				.row-info
					.txt-content.txt-title Yêu cầu dịch vụ
				.row-info
					.txt-content 
						span.txt-label Nhóm yêu cầu:
						span TSĐB
				.row-info
					.txt-content 
						span.txt-label Loại yêu cầu:
						span Thực hiện thủ tục hoàn công/đăng hộ cho TSBĐ
				.row-info
					.txt-content 
						span.txt-label Thời điểm đề nghị thực hiện:
						span 12/12/2022
		.footer-block
			.btn-box
				a.btn.btn-confirm.btn-go-home.btn-toggle(href="/index.html") Về trang chủ