section.section.counter-sec
	.wrapper-container 
		.list-tsdb-block.d-flex
			.list-tsdb-block-none.text-center
				img(src="./images/coin.png", alt="")
				.txt-none Không có khoản vay và tài sản đảm bảo