
section.section-header 
	.wrapper-container 
		.header-box 
			a.btn-back(href="")
				img(src="./images/icons/arrow-left.png", alt="")
			.txt-title 
				img(src="./images/icons/Logo.png", alt="")
			a.btn-go-home(href="")
				img.icon-home(src="./images/icons/home-black.png", alt="")
section.section.counter-sec
	.wrapper-container 
		.page-yeucaudichvu.page3
			.txt-title-page Xác nhận
			.page-content 
				.info-container
					.info-box.top-info-box
						.row-info.row-header
							.txt-label Thông tin yêu cầu
						.row-info
							.txt-label Ngày đề nghị thực hiện
							.txt-content 25/01/2027
						.row-info
							.txt-label Loại yêu cầu
							.txt-content Thu nợ trước hạn
						.row-info
							.txt-label Thông tin bổ sung
							.txt-content Nội dung thông tin bổ sung
					.info-box.bottom-info-box
						.row-info.row-header
							.txt-label Thông tin khoản vay
						.row-info
							.txt-label Số hợp đồng vay
							.txt-content 
								span.text-copy L32452352452U
								//- img.icon-copy(src="./images/icons/content_copy.png")
						.row-info
							.txt-label Hạn mức hợp đồng
							.txt-content 500,000,000 VND
						.row-info
							.txt-label Dư nợ hiện tại
							.txt-content 421,261,698 VND
						.row-info
							.txt-label Ngày đáo hạn
							.txt-content 16/12/2030
						.row-info
							.txt-label Lãi suất
							.txt-content 12.6%/năm	
				.otp-container
					.txt-otp-title Mật khẩu giao dịch
					.txt-otp-description Vui lòng nhập mã xác nhận được gửi đến số điện thoại ***091 của bạn
					.otp-box 
						input.txt-otp-number#txtOPT1(type="text" autocomplete="off")
						input.txt-otp-number#txtOPT2(type="text" autocomplete="off")
						input.txt-otp-number#txtOPT3(type="text" autocomplete="off")
						input.txt-otp-number#txtOPT4(type="text" autocomplete="off")
						input.txt-otp-number#txtOPT5(type="text" autocomplete="off")
						input.txt-otp-number#txtOPT6(type="text" autocomplete="off")
				.footer-block
					.txt-policy 
						span Bằng việc nhấn Xác nhận đồng nghĩa bạn đồng ý với các 
						a(href="") điều khoản, điều kiện
					.btn-box
						a.btn.btn-confirm.btn-toggle(href="/page4_ver2.html") Xác nhận
