header
	nav
		.wrapper-container
			.nav-wrapper.d-flex
				.navbrand
					a(href="") MoGo
				ul.navbar.d-flex.ml-auto
					li.nav-item.active
						a.nav-link.f-14.fw-500.color-white(href='') about
					li.nav-item
						a.nav-link.f-14.fw-500.color-white(href='') service
					li.nav-item
						a.nav-link.f-14.fw-500.color-white(href='') work
					li.nav-item
						a.nav-link.f-14.fw-500.color-white(href='') blog
					li.nav-item
						a.nav-link.f-14.fw-500.color-white(href='') contact
				a.shopping-card(href="") 
					img(src="./images/icons/shoppingcard.png", alt="")
				form.search(action="") 
					.button-search
						img(src="./images/icons/search.png", alt="")
					.form-group.hidden 
						input(type="text" placeholder="Tìm kiếm")
						button 
							em.ri-search-line
				.btn.btn-toggle
					span 
					span 
					span
					span
