section.slider-area
	//- Swiper
	.swiper-container
		.swiper-wrapper
			.swiper-slide(data-name="intro") 
				.slide-inner 
					.slide-img 
						img(src="../images/banner/b-1.png", alt="")
					.slide-content 
						h2.title-small Creative Template
						h1.title-big 
							|Welcome 
							br
							|to MoGo
						a.btn-more(href="") Learn more
			.swiper-slide(data-name="work") 
				.slide-inner 
					.slide-img 
						img(src="../images/banner/b-1.png", alt="")
					.slide-content 
						h2.title-small Creative Template
						h1.title-big 
							|Welcome 
							br
							|to MoGo
						a.btn-more(href="") Learn more
			.swiper-slide(data-name="about") 
				.slide-inner 
					.slide-img 
						img(src="../images/banner/b-1.png", alt="")
					.slide-content 
						h2.title-small Creative Template
						h1.title-big 
							|Welcome 
							br
							|to MoGo
						a.btn-more(href="") Learn more
			.swiper-slide(data-name="contacts") 
				.slide-inner 
					.slide-img 
						img(src="../images/banner/b-1.png", alt="")
					.slide-content 
						h2.title-small Creative Template
						h1.title-big 
							|Welcome 
							br
							|to MoGo
						a.btn-more(href="") Learn more
		.swiper-pagination

